
.into{
    background-color: white;
    display: flex;
}
.into  .right {
    flex: 0.5;
    position: relative;
}
.into  .right .wrapper {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.into  .right .wrapper   h1 {
    font-size: 60px;
    margin: 10px 0;
} 
.into  .right .wrapper  h2 {
    font-size: 35px;
  }
  .into  .right .wrapper  h3 {
    font-size: 30px;
  }
  .ityped-cursor {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
  .into  .right .wrapper  h3 span {
    font-size: inherit;
    color: crimson;
  }
.into  .left{
    flex: 0.5;
    overflow: hidden;
}
.into.left.imgcontainer{
    width: 700px;
    height: 700px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
   }
   .into.left.imgcontainer img {
    height: 90%;
   }

   a {
    position: absolute;
    bottom: 10px;
    left: 40%;
   }
   img {
    width: 30px;
    animation: arrowBlink 2s infinite;
  }
  @keyframes arrowBlink {
    100% {
      opacity: 0;
    }
}